.about h2 {
  text-align: center;
}

.about {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 0 1rem;
  align-items: center;
}

.about p {
  font-family: var(--note-font);
}

.about span {
  display: block;
}
