.about h2 {
  text-align: center;
  margin-left: 0;
}

.about-body {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 30rem;
  margin: 2rem auto;
  padding: 0 1rem;
  align-items: center;
}

.about-body p {
  font-family: var(--note-font);
}

.about-body span {
  display: block;
}

@media all and (min-width: 55rem) {
  .about h2 {
    text-align: left;
    margin-left: auto;
  }
}
