.recipe-text-area {
  border: 1px solid var(--color-black);
  font-family: var(--note-font);
  width: 95%;
  height: 10rem;
  font-size: 1rem;
}

.recipe-list {
  padding: 0;
}

.recipe-list li {
  border-left: 5px solid var(--color-light-brown);
  background-color: #f1f1f1;
  list-style-type: none;
  margin-top: 1rem;
  padding: 10px 20px;
}

.recipe-form ul input,
.recipe-form ol input {
  width: 90%;
}

.recipe-form form > fieldset:first-of-type {
  padding: 0;
}

input#name {
  width: 95%;
}

div.recipe-form {
  width: 95%;
  max-width: 38rem;
}

@media all and (min-width: 345px) {
  .recipe-form ul input {
    width: 9rem;
  }

  .recipe-form ol input {
    width: 83%;
  }
}

@media all and (min-width: 400px) {
  .recipe-form ul input {
    width: 12rem;
  }
}

@media all and (min-width: 450px) {
  .recipe-form ul input {
    width: 71%;
  }
}

@media all and (min-width: 500px) {
  .recipe-form ul input {
    width: 74%;
  }

  .recipe-form ol input {
    width: 90%;
  }
}

@media all and (min-width: 700px) {
  .recipe-form ul input {
    width: 81%;
  }
}
