header,
header ul,
header .right-link-container,
header ul .inner-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header {
  flex-direction: column;
  height: fit-content;
  background-color: white;
}

header h1 {
  font-family: var(--title-font);
  font-weight: 400;
  color: var(--color-dark-brown);
  margin-bottom: 0.25rem;
  flex: 1;
}

header nav {
  flex: 2;
}

header nav a {
  transition: color 0.2s ease;
}

header nav:hover a {
  color: var(--color-light-brown);
}

header nav li a:hover {
  color: var(--color-dark-brown);
}

header h1 a {
  color: var(--color-dark-brown);
  text-decoration: none;
}

header ul {
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  margin: 0.4rem 0 0.4rem 0;
  padding: 0;
}

header ul .inner-group {
  flex-direction: column;
}

header li a {
  display: block;
  padding: 8px;
  font-family: var(--action-font);
  font-size: 1.1rem;
  color: var(--color-dark-brown);
  text-decoration: none;
}

header .right-link-container {
  flex: 1;
}

header .right-link-container {
  justify-content: flex-end;
}

@media all and (min-width: 280px) {
  header ul {
    flex-direction: column;
  }

  header ul .inner-group {
    flex-direction: row;
  }
}

@media all and (min-width: 375px) {
  header ul {
    flex-direction: row;
  }

  header ul .inner-group {
    flex-direction: row;
  }
}

@media all and (min-width: 800px) {
  header {
    flex-direction: row;
  }

  header ul {
    flex-direction: row;
    width: fit-content;
  }

  header nav {
    margin-right: 4rem;
  }

  header h1 {
    margin: 0.75rem 0 0.75rem 4rem;
  }

  header {
    max-width: 55rem;
    margin-left: auto;
    margin-right: auto;
  }
}
