@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Roboto:wght@300&display=swap');

:root {
  --color-black: black;
  --color-light-brown: #dfb28b;
  --color-white: white;
  --color-dark-brown: #331a08;
  --title-font: 'Roboto', sans-serif;
  --timestamp-font: 'Roboto', sans-serif;
  --body-font: 'Roboto Slab', serif;
  --action-font: 'Roboto', sans-serif;
  --note-font: 'Roboto Slab', serif;
  --button-drop-shadow: 4px 4px 8px -3px rgba(0, 0, 0, 0.2),
    3px 3px 2px -2px rgba(0, 0, 0, 0.15);
}

.group-row {
  display: flex;
  flex-direction: row;
}

.group-col {
  display: flex;
  flex-direction: column;
}

.rs-title {
  color: var(--color-dark-brown);
  font-family: var(--title-font);
  font-size: 2rem;
}

.rs-sub-title {
  color: var(--color-black);
  font-family: var(--title-font);
  font-size: 1.5rem;
}

.rs-body {
  font-family: var(--body-font);
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  font-family: var(--body-font);
}

input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  transition: background-color 0.2s ease, color 0.2s ease;
}

select {
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
}

textarea:focus,
input:focus {
  border: 2px solid var(--color-light-brown);
}

.rs-card {
  background: var(--color-white);
  border: 1px solid var(--color-dark-brown);
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.form {
  width: fit-content;
  text-align: center;
  max-width: fit-content;
  margin: 2rem auto auto auto;
}

.form h3 {
  font-size: 1.5rem;
}

.rs-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  font-family: var(--action-font);
}

.rs-btn-light {
  border: none;
  background: var(--color-dark-brown);
  color: var(--color-white);
}

.rs-btn-light:disabled {
  background-color: gray;
  color: white;
}

.rs-btn-light:hover:enabled {
  background-color: var(--color-light-brown);
  color: var(--color-dark-brown);
}

.rs-btn-success {
  background: green;
  color: var(--color-white);
}

.rs-btn-success:disabled {
  background: rgb(117, 143, 117);
  color: lightgray;
}

.rs-btn-success:hover:enabled {
  background: rgb(8, 200, 8);
  color: var(--color-black);
}

.rs-btn-reset {
  background: rgb(207, 33, 44);
  color: var(--color-white)
}

.rs-btn-reset:disabled {
  background: rgb(153, 119, 119);
  color: lightgray;
}

.rs-btn-reset:hover:enabled {
  background: rgb(255, 0, 0);
  color: var(--color-black);
}

.recipe-card-list {
  margin: 2rem;
}

.recipe-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-card {
  width: 12rem;
  margin: 1rem;
}

.recipe-card .recipe-information {
  position: relative;
  height: 14rem;
  overflow-y: hidden;
}

.recipe-card .recipe-information:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  height: 7em;
}

.recipe-card .timestamp {
  font-family: var(--timestamp-font);
  color: var(--color-dark-brown);
}

a.rs-sub-title:link {
  color: var(--color-black);
}

a.rs-sub-title:visited {
  color: var(--color-black);
}

a.rs-sub-title:hover {
  transition: color 0.2s ease;
  color: var(--color-light-brown);
}

a.rs-sub-title:active {
  color:var(--color-dark-brown);
}

.page-title {
  text-align: center;
  color: var(--color-white);
}

@media all and (min-width: 800px) {
  .page-title {
    text-align: left;
    margin-left: 4rem;
  }
}

@media all and (min-width: 55rem) {
  .page-title {
    max-width: 47rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 440px) {
  .recipe-card {
    width: 19rem;
  }
}

@media all and (min-width: 1280px) {
  .recipe-group {
    flex-direction: row;
    justify-content: center;
  }
}

.misc-page-title {
  background-color: black;
}

.misc-page-img {
  opacity: 0.7;
}

.form-status,
.note,
.hint,
.status,
.validation-error {
  font-family: var(--note-font);
}

.success-status {
  color: green;
}

.fail-status,
.hint {
  color: red;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.w-fit {
  width: fit-content;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-tenth {
  margin-right: 0.1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-0 {
  margin-bottom: 0rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.m-auto {
  margin-right: auto;
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.break {
  display: block;
}

::-webkit-scrollbar {
  width: 7px;
  border: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: lightgray;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
